MSSQL_SA_PASSWORD=CHANGE_ME
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
STRIPE_SECRET_KEY=sk_test_CHANGE_ME
STRIPE_CURRENCY=usd
JWT_ISSUER=ZenCare
JWT_AUDIENCE=ZenCareUsers
JWT_SECRET_KEY=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
JWT_DURATION_IN_MINUTES=60
